html, body, .row{
    height: 100%;
    width: 100%;
}

.btn-pickers {
    width: 49%;
    height: 100%;
    font-size: 40px;
}

.default-list {
    height: 78vh;
    max-height: 78vh;
    overflow-y: auto;
}

.left-edit {
    float: left;
}

.edit-btn {
    width: 50%;
}